<div class="ui-fluid text-center">
  <div class="p-field">
    <h1>Monitoreo de Documentos</h1>
    <p>Estos documentos estan pendients de ser aceptadas por las SUNAT o el OSE. Si un documento parmanece mas de 7 dias en esta lista debe comunicarse con nosotros.</p>
    <h3>Filtrar por fecha</h3>
    <div class="p-grid" [style] ="{'justify-content': 'space-between'}">
      <p-dropdown [options]="month" [(ngModel)]="selectedMonthStart" optionLabel="name"></p-dropdown>
      <p-dropdown [options]="period" [(ngModel)]="selectedPeriodStart" optionLabel="name"></p-dropdown> 
      <p-dropdown [options]="year" [(ngModel)]="selectedYearStart" optionLabel="name"></p-dropdown>
      <p-dropdown [options]="month" [(ngModel)]="selectedMonthEnd" optionLabel="name" placeholder="31"></p-dropdown>
      <p-dropdown [options]="period" [(ngModel)]="selectedPeriodEnd" optionLabel="name" placeholder="diciemb"></p-dropdown>
      <p-dropdown [options]="year" [(ngModel)]="selectedYearEnd" optionLabel="name"></p-dropdown>
      <button pButton type="button" id="user-btn" label="Filtrar"></button>
    </div>
    <p-messages *ngIf="!documents" [(value)]="msgs"></p-messages>       
  </div>

  <p-table
  [value]="documents"
  [scrollable]="true"
  styleClass="p-table-users"
  >
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col style="width: 100px" />
        <col style="width: 400px" />
        <col style="width: 100px" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Tpo Doc.</th>
        <th>Descripción</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-doc>
      <tr>
        <td>{{doc.tipo_documento_sunat}}</td>
        <td>{{doc.tipo_documento_descripcion}}</td>
        <td>
          <button pButton type="button"
            class="p-button-raised p-button-rounded p-button-outlined p-button-info p-mr-2" icon="pi pi-pencil">
          </button> 

           <button pButton type="button"
            class="p-button-raised p-button-rounded p-button-outlined p-button-danger" icon="pi pi-trash"></button>

        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
