$header-height: 48px;
.app-header {
    display: flex;
    background: #0564c9;
    color: #ffff;
}
.main-content {
    width: 92%;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    min-height: 90vh;
}
mat-toolbar-row {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .toolbar {
        width: 100%;   
    }
}
mat-sidenav {
    width: 290px;
    position: fixed;
}

@media screen and (min-width: 720px) {
    .main-content {
        width: 97%;
    }
}

