<mat-sidenav-container>
    <mat-sidenav-content>
        <div class="main mb-5">
            <div class="app-header">
                <mat-toolbar-row>
                    <div class="p-d-flex p-ai-center p-jc-between toolbar p-2">
                        <div class="p-d-flex p-ai-center">
                            <button mat-icon-button (click)="drawer.toggle()">
                                <mat-icon>menu</mat-icon>
                            </button>
                            <span>Administrador</span>
                        </div>
                        <button (click)="logout()" mat-button>
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Cerrar Sesión</span>
                        </button>
                    </div>
                </mat-toolbar-row>
            </div>
            <div class="main-content">
                <!-- <p-messages styleClass="style-message"></p-messages> -->
                <p-toast></p-toast>
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
    <mat-sidenav class="sidenav bg-blue-p" #drawer opened="true" [mode]="isSmallScreen? 'over': 'side'">
        <app-menu [name]="presenter.name" [options]="presenter.menuOpts"></app-menu>
    </mat-sidenav>
</mat-sidenav-container>