$header-height: 48px;
.app-header {
    display: flex;
    background: #0564c9;
    color: #ffff;
}
.main-content {
    width: 98%;
    margin-right: auto;
    margin-left: auto;
}
mat-toolbar-row {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .toolbar {
        width: 100%;   
    }
}
mat-sidenav {
    width: 290px;
    position: fixed;
}