<br>
<div class="ui-fluid text-center">
  <div class="p-field">
    <h1>Usuarios</h1>
    <!-- <p-messages [(value)]="msgs"></p-messages> -->
    <button pButton type="submit" (click)="addUser(null, 'add')" label="Nuevo usuario"></button>
    <hr>
    <p-table
    [value]="users"
    [scrollable]="true"
    styleClass="p-table-users"
    >
      <ng-template pTemplate="colgroup">
        <colgroup>
          <col style="width: 300px" />
          <col style="width: 180px" />
          <col style="width: 180px" />
          <col style="width: 100px" />
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Email</th>
          <th>Usuario</th>
          <th>Telefono</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{user.usuariO_CORREO}}</td>
          <td>{{user.usuariO_NICKNAME}}</td>
          <td>{{user.usuariO_TELEFONO}}</td>
          <td>
            <button (click)="editUser(user, 'edit')" pButton type="button"
              class="p-button-raised p-button-rounded p-button-outlined p-button-info p-mr-2" icon="pi pi-pencil">
            </button>

            <button (click)="deleteUser(user)" pButton type="button"
              class="p-button-raised p-button-rounded p-button-outlined p-button-danger" icon="pi pi-trash"></button>

          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  </div>
</div>