.p-dialog {
    .p-dialog-content {
        padding: 0px;
        max-height: 100% !important;
    }
}
.dialog-header {
    padding: 1rem 1.5rem;
    background: #41acfd;
    color: #fff;
}
.dialog-content {
    display: block;
    max-height: 70vh;
    overflow-y: hidden;
    padding: 1rem 1.5rem;
    background: #FFFFFF;
    overflow-x:hidden;
}
.dialog-footer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
    box-sizing: content-box;
    padding: 0.5rem 1rem 1rem 1rem;
    text-align: center;
}
.style-dialog-objetive{ 
    @media screen and (max-width: 1485px) {
        width: 70% !important;
    }
}